*{
    list-style: none;
    text-decoration: none;
    
}
.main-header{
    display: flex;
    height:50vh;
}
.menu{
    width: 100%;
    height: fit-content;
    padding: 20px;
    margin: 0;
    background-color: rgba(0,0,0,0.15);
    
}
.menu-list{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.menu-element a{
    color: white;
    font-family: 'Apple chancery';
    cursor: pointer;
}
.home{
    font-size: x-large;
}
